*{
    font-family: 'Segoe UI', sans-serif;
    /*box-shadow: 0 0 3px red;*/
}

.cardtst {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 24px;
    /*max-width: 1200px;*/
    width: 100%;
}

@media(min-width: 540px){
    .cardtst {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 960px){
    .cardtst {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .cardt{
        margin-left: 5%;
        margin-right: 5%;
    }
}

.cardt {
    position: relative;
    padding-bottom: 150%;
}

.cardt-background {
    background-size: cover;
    background-position: center;
    border-radius: 24px;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform-origin: center;
    transition: .2s;
}

.cardt:hover .cardt-background {
    transform: scale(1.05) translateZ(0);
}

.cardtst:hover > .cardt:not(:hover) .cardt-background {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(0.2px);
}
/*Position du Texte dans les cards*/
.cardt-content {
    padding: 24px;
    position: absolute;
}
/*Titre du texte dans les cards*/
.cardt-content p {
    color: rgba(255, 255, 255, .6);
    font-size: .9rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}
/*Texte dans les cards*/
.cardt-content h3 {
    color: rgba(255, 255, 255, .9);
    font-size: 1.6rem;
    text-shadow: 2px 2px 20px rgb(128, 15, 15);
}
/*Gros titres*/
.ecriture{
    color: rgb(0, 0, 0);
    font-size: 3rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 24px;
    max-width: 1200px;
    width: 100%;
    text-align: center;
}