*{
    font-family: 'Segoe UI', sans-serif;
    /*box-shadow: 0 0 3px red;*/
}

.mapdiv{
    width:28%;
    /*margin: auto;*/
    margin-left: 10%;

}

.mapdiv path {
    fill: #a4aba4;
    stroke: rgb(255, 255, 255);
    stroke-width:0.5px;

}

.mapdiv :hover {
    fill: rgb(33, 130, 131);
}