/*
.mapdiv{
    width:25%;
    !*margin: auto;*!
    margin-left: 10%;

}

.mapdiv path {
    fill: #a4aba4;
    stroke: rgb(255, 255, 255);
    stroke-width:0.5px;

}

.mapdiv :hover {
    fill: rgb(3, 31, 115);
}
svg{
    height: 400px;
    width: 350px;
}*/